@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply font-sans text-gray-900 antialiased;
  }
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded transition duration-150 ease-in-out;
  }
  .btn-primary {
    @apply bg-cyan-500 text-white hover:bg-cyan-600;
  }
  .btn-secondary {
    @apply bg-purple-700 text-white hover:bg-purple-800;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out;
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}